.bet-history {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: #fff;
  width: 70%;
}

.bet-history__title {
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  border-bottom: 1px solid var(--main-color);
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  font-size: 12px;
  text-align: left;
}

th {
  background-color: var(--background-body-color);
  color: var(--text-color);
}
