.bet-slip {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 500px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px;
}

.bet-slip__title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  font-weight: 500;
}

.bet-slip__form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 12px;
}

.bet-slip__input {
  width: 100%;
  height: 28px;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  color: var(--text-color);
}

.input-label {
  margin: 0 0 5px;
  color: var(--text-color);
}

.input__text {
  margin: 0 0 5px;
}

.ticket-icon {
  width: 30px;
  height: 30px;
  color: blue;
}

.bet-slip__total {
  background-color: rgba(230, 230, 230, 0.3);
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
}

.total-desc {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-color);
}

.bet-slip__button {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--blue-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

.bet-slip__button:hover {
  background-color: rgba(0, 0, 255, 0.718);
}

.total {
  color: rgb(119, 193, 9);
}
